<%
=begin%>
 <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <% if user_signed_in? %>
        <li><%= link_to "Add Book", new_book_path %></li>
   <% end %>
</ul> 
<%
=end%>

  <% if user_signed_in? %>
 <%= button_to "Edit Profile  ", edit_user_registration_path,method: :get, class: "btn btn-dark mx-1  me-2" %> 


<%= button_to "log out  ", destroy_user_session_path, method: :delete, class: "btn btn-warning mx-1  me-2" %>
 <%else%>
 <%= link_to "sign up  ", new_user_registration_path, class: "btn btn-warning mx-1 me-2" %>
 <%= link_to "login", new_user_session_path,class: "btn btn-dark mx-1  me-2" %>
<% end %> 
 

