
<%= simple_form_for(@book) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :author %>
    <%= f.input :publication_year %>
    <div class="field">
    <%= f.label :category_id, class:"title" %>
    <%= f.select :category_id, Book::CATEGORY, prompt: "Select category" %>
  </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
