
<div class="rating">
  <% review.rating.times do %>
    <%= fa_icon "star" %>
  <% end %>
</div>

<p><%= review.comment %></p>

<%
=begin%>
 <%= link_to "Edit", edit_book_review_path(review.book, review) %>
<%= link_to "Delete", book_review_path(review.book, review), method: :delete %> 
<%
=end%>
<% if user_signed_in? %>
  <% if review.user_id == current_user.id %>
    <%= link_to 'Edit', edit_book_review_path(review.book_id, review), class: 'button' %>
    <%= link_to 'Delete', book_review_path(review.book_id, review), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button' %>
  <% end %>
<% end %>





