<nav class ="category_nav">
  <ul>
    <li><%= link_to "Fiction", books_path(category: "Fiction") %></li>
    <li><%= link_to "Non-Fiction", books_path(category: "Non-Fiction") %></li>
    <li><%= link_to "Mystery", books_path(category: "Mystery") %></li>
    <li><%= link_to "Science", books_path(category: "Science-Fiction") %></li>
    <li><%= link_to "Classic", books_path(category: "Classic") %></li>
    <li><%= link_to "Fantasy", books_path(category: "Fantasy") %></li>
    <li><%= link_to "Thriller", books_path(category: "Thriller") %></li>
    <li><%= link_to " Horror", books_path(category: "Horror") %></li>
    <li><%= link_to "Biography", books_path(category: "Biography") %></li>
    <li><%= link_to "Self-help", books_path(category: "Self-help") %></li>
  
  </ul>
</nav>
