<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to "Book Review App", root_path, class: 'nav-link' %>

    <button class="navbar-toggler" type="button" onclick="openSidebar()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "User Profile", user_path(current_user), class: "nav-link" if current_user %>
        </li>
        <li class="nav-item">
          <%= link_to "Add Book", new_book_path, class: "nav-link" %>
        </li>
      </ul>
      <%= render 'users/session_manager' %>
      
      <%= form_with(url: books_path, method: "get", class: "d-flex navbar-nav ms-auto") do %>
        <%= text_field_tag :search, params[:search], class: "form-control me-2", placeholder: "Search", aria_label: "Search" %>
        <button class="btn btn-outline-warning" type="submit">Search</button>
      <% end %>
    </div>
  </div>

  
  <div class="sidebar" id="sidebar">
    <a href="javascript:void(0)" class="close-btn" onclick="closeSidebar()">&times;</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "User Profile", user_path(current_user), class: "nav-link" if current_user %>
      </li>
      <li class="nav-item">
        <%= link_to "Add Book", new_book_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
       <% if user_signed_in? %>
            <%= button_to "Account", edit_user_registration_path,method: :get, class: "nav-link" %> 
            <%= button_to "log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
      <%else%>
             <%= link_to "sign up", new_user_registration_path, class: "nav-link" %>
             <%= link_to "login", new_user_session_path,class: "nav-link" %>
      <% end %> 
      </li>
    </ul>
  </div>
</nav>

<script>
  function openSidebar() {
    document.getElementById("sidebar").style.width = "250px";
  }

  function closeSidebar() {
    document.getElementById("sidebar").style.width = "0";
  }
</script>